<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successfull? %> 
<p><%= t('.passed') %></p> 
<p style="color:Green"> <%= @test_passage.result %></p>
<% else %>
<p><%= t('.failed') %></p>
<p style="color:Red"> <%= @test_passage.result %></p>
<% end %> </h3>
