<h2> <%= @test.title %> </h2>

<%= link_to t('.new'), new_admin_test_question_path(@test) %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col" colspan="3"><%= t('.actions') %></th> 
    </tr>
  </thead>
  <tbody>  
    <%= render @test.questions %>
  </tbody>  
</table>  