<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <%= render 'shared/nav' %>
        
        <div class="container">
         

         <% if flash[:success] %>
           <div class="alert alert-success" role="alert">
              <%= flash_messages %>
            </div> 
          <% elsif flash[:error] %>
            <div class="alert alert-danger" role="alert">
              <%= flash_messages %>
            </div> 
          <% elsif flash[:alert] %>
            <div class="alert alert-danger" role="alert">
              <%= flash_messages %>
            </div> 
          <% end %>   

        </div>
      
        <%= yield %>

        <%= render 'layouts/footer' %>
      </div>
    </div>    

    
  </body>
</html>